!!! 5
html(lang="en")
  head
    title What people are saying about #{url}
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript')
      var socket = new io.Socket();
      socket.on('connect', function(){ 
        socket.send("#{url}"); 
      }) 
      socket.on('message', function(data){ 
        alert(data.comment);
      })
      socket.on('disconnect', function(){}) 
      socket.connect();
  body hello
