!!! 5
html(lang="en")
  head
    link(rel='stylesheet', href="css/blueprint/screen.css", type="text/css", media="screen, projection")
    link(rel='stylesheet', href="css/blueprint/print.css", type="text/css", media="print")
    <!--[if lt IE 8]>
    link(rel='stylesheet', href="css/blueprint/ie.css", type="text/css", media="screen, projection")
    <![endif]-->
    title What people are saying.
  body
    - if (og_debug)
      #content(class='showgrid container')
        !=body
    - else
      #content(class='container')
        !=body
