#omnigeist
  span(provider='digg', class='provider', id='provider-digg')
    Digg
  span(provider='reddit', class='provider', id='provider-reddit')
    Reddit
  #og-tabs
    div(id="og-close", class="og-tab")
      |close
    div(class="og-tab")
      |reddit
    div(class="og-tab")
      |digg
  #og-comments
    ul
