#omnigeist
  span(provider='digg', class='provider', id='provider-digg')
    Digg
  span(provider='reddit', class='provider', id='provider-reddit')
    Reddit
  #og-tabs
    div(id="og-close", class="og-tab")
      |Close
  //
    div(class="og-tab")
      |Reddit
    div(class="og-tab")
      |Digg
    div(class="og-tab")
      |Hacker News
  #og-comments
    ul
