#omnigeist
  span(provider='digg', class='provider', id='provider-digg')
    Digg
  span(provider='reddit', class='provider', id='provider-reddit')
    Reddit
  div(class='comment-container')
    #digg
    #reddit
