#omnigeist {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    line-height: 1;
    display: block;
    list-style: none;

    width: 25%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    overflow: auto;
    
    background-color: #000;
    filter:alpha(opacity=90);
    -moz-opacity:0.90;
    -khtml-opacity: 0.90;
    opacity: 0.90;
    -moz-bordera-top-right-radius: 10px;
    -moz-bordera-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1000;
}

#og-comments {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    line-height: 1;
    display: block;
    list-style: none;
}
  #og-comments li {
    width: inherit;
  }

  #og-comments .comment {
    color: #ccc;
    padding-bottom: 10px;
    margin: 10px 10px 0px 5px;
    border-bottom: thin outset #EEE;
    clear: both;
  }

  #og-comments .rank {
    color: white;
  }

  #og-coments .comment-content {
    margin-left: 10px;
  }

    #og-comments .comment-content p{
      width: inherit;
      text-align: justify;
      font-size: small;
      font-family: Verdana, Geneva, sans-serif;
      text-align: left;
      line-height: 1.5em
      /*line-height: 1.2em;
      letter-spacing: 1px;
      word-spacing: 1px;
      */
    }

span.provider {
    color: #FFF;
    background-color: gray;
    border: 1px;
    margin: 2px 5px 2px 5px;
}

span.active-provider {
    background-color: #CCC;
}
